@font-face {
  font-family: 'AdelleSansHOVER';
  src: url('https://braze-images.com/appboy/communication/assets/font_assets/files/6261a7d4f36e077d0746c920/original.woff?1650567124');
  src: url('https://braze-images.com/appboy/communication/assets/font_assets/files/6261a7d4f36e077d0746c920/original.woff?1650567124') format('woff'),
       url('https://braze-images.com/appboy/communication/assets/font_assets/files/6261a7dded2cc429c4ae74f9/original.woff2?1650567133') format('woff2');
       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AdelleSansHOVER";
  src: url('https://braze-images.com/appboy/communication/assets/font_assets/files/6261a75b982a6669498ffc21/original.woff?1650567003');
  src: url('https://braze-images.com/appboy/communication/assets/font_assets/files/6261a75b982a6669498ffc21/original.woff?1650567003') format('woff'),
       url('https://braze-images.com/appboy/communication/assets/font_assets/files/6261a76190075c217a8ac3db/original.woff2?1650567009') format('woff2');
       
  font-weight: bold;
  font-style: normal;
} 

body {
  background: gray;
  min-height: 100vh;
  
}



@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
